@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  -webkit-font-smoothing: antialiased;
  direction: rtl;
  background-color: #FFFFFF;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

::selection { background: #1E88E5; color: white; }
